
.CircularProgressbar .CircularProgressbar-path {
    stroke: black;
    text-align: center;
    
}
.CircularProgressbar{
    /* background-color: aqua; */
    

}
.box1{
    /* border: 1px solid black; */
    width: 87%;
    margin: auto;
   
    
}
.skill_about p{
    margin-bottom: 40px;
}
.skill_about{
    
    
    padding: 30px;
}

/* ProgressBar.css */

.progress-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    /* border: 1px solid black; */
    width: max-content;
    
}
.skill-grid{
    /* border: 1px solid black; */
    width: 82%;
    margin:auto;
}

.progress-box {
    height: 350px;
    width: 370px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    /* border: 1px solid black;    */
}

.progress-box .progressbar-container {
    /* width: max-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.progress-box .progressbar-container .CircularProgressbar {
    width: 180px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 20px; /* Gap between grid items */
    justify-items: center; /* Center items horizontally */
}

.box {
    height: 350px;
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}
