.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: fit-content;
  }
  
  .footer-icons {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-icons a {
    color: white;
    margin: 0 10px;
  }
  
  .footer-icons a:hover {
    color: #007bff; /* Change the color on hover if needed */
  }
  
  p {
    margin: 0;
    font-size: 14px;
  }
  